@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    line-height: 1.5;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
    padding-left: 30rem;
}

:root {
    /* --main-color: #5e84fb;  */
    /* --main-color: #2980b9;  */
    --main-color: #0984e3; 
}

/* Header Section Start */

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: #222;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
}

header .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span {
    color: var(--main-color);
}

header .navbar a {
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover {
    color: var(--main-color);
}

#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background-color: var(--main-color);
    color: #fff;
    font-size: 3rem;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* Header Section End */

/* Home Section Start */

section {
    min-height: 100vh;
    padding: 0 7%;
}





