@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    line-height: 1.5;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
    padding-left: 30rem;
}

:root {
    /* --main-color: #5e84fb;  */
    /* --main-color: #2980b9;  */
    --main-color: #0984e3; 
}

/* Header Section Start */

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: #222;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
}

    header .logo {
        text-transform: uppercase;
        color: #fff;
        font-size: 3rem;
        font-weight: bolder;
    }

    header .logo span {
        color: var(--main-color);
    }

    header .navbar a {
        display: block;
        font-size: 2rem;
        color: #fff;
        margin: 2rem 0;
    }

    header .navbar a:hover {
        color: var(--main-color);
    }

#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background-color: var(--main-color);
    color: #fff;
    font-size: 3rem;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* Header Section End */

/* Home Section Start */

section {
    min-height: 100vh;
    padding: 0 7%;
}

.all-covid {
    padding-top: 100px;
    font-size: 2rem;
}

@media(max-width: 1024px) {
    html {
        font-size: 55%;
    }
    body {
        padding: 0;
    }
    #menu-bars {
        display: initial;
    }
    header {
        left: -120%;
    }
    header.active {
        left: 0%;
    }

}

/* for testing */

@media only screen and (min-width: 600px) {
    html {
        font-size: 55%;
    }
    body {
        padding: 0;
    }
    #menu-bars {
        display: initial;
    }
    header {
        left: -120%;
    }
    header.active {
        left: 0%;
    }
    header .navbar{
        margin-top: -500px;
    }
}

/* end */

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    header {
        width: 100%;
    }
    /* for testing */
    .all-covid {
        padding-top: 50px;
        font-size: 1.5rem;
    }
    /* end */
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

    .home .content {
        flex: 1 1 40rem;
    }

    .home .image {
        flex: 1 1 40rem;
    }

    .home .image img {
        width: 100%;
    }

.home .content .hi {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
}

.content h3 {
    font-size: 4.5rem;
    color: #111;
}

.content h3 span {
    color: var(--main-color);
}

.home .content .text {
    text-transform: none;
    font-size: 1.7rem;
    color: #666;
    
    padding: .5rem 0;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #111;
}

@media(max-width: 991px) {
    .home .content h3 {
        margin-top: 60px;
    }
    .home .content .hi {
        font-size: 3.3rem;
        position: fixed;
        top: 1.5rem;
        left: 1.2rem;
    }
}

@media(max-width: 450px) {
    .home .content h3 {
        margin-top: 20px;
        font-size: 3.5rem;
    }
    .home .content .hi {
        font-size: 3.3rem;
        position: fixed;
        top: 1.5rem;
        left: 1.2rem;
    }
    section {
        padding: 40px 20px;
    }
}

/* Home Section End */

/* About Section Start */







